<div th:insert="layout/header" /></div>
    <div class="container">
        <div class="row">
            <div class="card col-md-6 offset-md-3 mt-2">
                <div class="card-body">
                    <h1 class="card-title">Edit Appointment</h1>
                    
                    <!-- Edit Appointment Form -->
                    <form th:action="@{/hse-admin/edit-appointment}" method="post">
                        <div class="mb-3">
                            <label for="time_slot" class="form-label">Time Slot:</label>
                            <select name="time_slot" id="" class="form-control">
                                <option th:each="time : ${times}" th:value="${time}">
                                    <span th:text="${time}"></span>
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="dose_number" class="form-label">Dose Number:</label>
                            <input th:value="${appointment.doseNumber}" type="text" name="dose_number" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label for="centre" class="form-label">Vaccination Centre:</label>
                            <select name="centre" id="" class="form-control">
                                <option th:each="centre : ${centres}" th:value="${centre}">
                                    <span th:text="${centre}"></span>
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="brand" class="form-label">Vaccine Brand:</label>
                            <select name="brand" id="" class="form-control">
                                <option th:each="brand : ${brands}" th:value="${brand}">
                                    <span th:text="${brand}"></span>
                                </option>
                            </select>
                        </div>
                        <div class="mt-3">
                            <input type="hidden" th:value="${appointment.id}" name="appointment_id">
                            <input type="submit" value="Register" class="btn btn-primary form-control" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div th:insert="layout/footer"></div>