<div th:insert="layout/header" /></div>
    <div class="container pt-2">
        <div class="row">
            <div class="col-lg-12 mb-3">

                <div class="card py-3 px-3 mb-3">
                    <div class="row align-items-center">
                        <form action="">
                            <label for="postBody" class="form-label">Post Body</label>
                            <textarea
                                name="postBody"
                                cols="30"
                                rows="10"
                                placeholder="Ask your question here..."
                                class="form-control"></textarea>
                            <br>
                            <input type="submit" class="btn btn-primary" value="Submit Forum Post">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
<div th:insert="layout/footer"></div>