<div th:insert="layout/header" /></div>
    <div class="container pt-2">
        <div class="row">
            <div class="col-lg-12 mb-3">

                <div class="card py-3 px-3 mb-3">
                    <div class="row align-items-center">
                        <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                            <a href="#" class="text-primary">Drupal 8 quick starter guide</a>
                        </h5>
                        <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black" href="#">20 minutes</a> <span class="op-6">ago by</span> <a class="text-black" href="#">KenyeW</a></p>
                        <div class="text-sm op-5">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident quidem ex esse dicta laborum asperiores cumque cum ipsam tempora! Corrupti suscipit doloribus eaque iure nam nisi laborum vero quidem eum.
                        </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <form action="">
                            <label for="replyBody" class="form-label">Reply</label>
                            <textarea
                                name="replyBody"
                                cols="30"
                                rows="10"
                                placeholder="Forum Post Reply..."
                                class="form-control"></textarea>
                            <br>
                            <input type="submit" class="btn btn-primary" value="Submit Reply">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
<div th:insert="layout/footer"></div>