<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>
        <form th:action="@{/users/save}" method="post">
            <div><label>First Name: <input type="text" name="first_name"/></label></div>
            <div><label>Last Name: <input type="text" name="last_name"/></label></div>
            <div><label>DOB: <input type="text" name="dob"/></label></div>
            <div><label>PPSN: <input type="text" name="pps"/></label></div>
            <div><label>Address: <input type="text" name="address"/></label></div>
            <div><label>Phone Number: <input type="text" name="phone_number"/></label></div>
            <div><label>Email: <input type="text" name="email"/></label></div>
            <div><label>Nationality: <input type="text" name="nationality"/></label></div>
            <div><label>Password: <input type="password" name="password"/></label></div>
            <div><input type="submit" value="Register"/></div>
        </form>
    </div>
</body>
</html>