<div th:insert="layout/header" /></div>
    <div class="container">
        <div class="row">
            <div class="card col-md-6 offset-md-3 mt-2">
                <div class="card-body">
                    <h1 class="card-title">Vaccine Login</h1>
                    
                    <!-- Login Form -->
                    <div th:if="${param.error}" class="alert alert-danger" role="alert">
                        Invalid email and password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-primary" role="alert">
                        You have been logged out.
                    </div>
                    <form th:action="@{/login}" method="post" id="loginForm">
                        <div class="mb-3">
                            <label for="username" class="form-label">Email:</label>
                            <input type="text" name="username" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" name="password" class="form-control" required />
                        </div>
                        <div class="mt-3">
                            <input type="submit" value="Sign In" class="btn btn-primary form-control" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Custom password regex rule
        $.validator.addMethod(
            "regexPassword",
            function(value, element, regexp) {
                var check = false;
                return this.optional(element) || regexp.test(value);
            },
            "Passwords must contain at least 8 characters, one letter and one number"
        );

        $("#loginForm").validate({
            rules: {
                username: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 8,
                    regexPassword: /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/
                }
            }
        });
    </script>
<div th:insert="layout/footer"></div>